@page
@{
    Layout = "_AuthPages";
}
@model Task4.Pages.LoginModel
@{
}

<form method="post">
    <p>Please login to your account</p>

    @if (ViewData.ContainsKey(LoginModel.InvalidCredentialVD))
    {
        <p class="border-danger text-danger">@(ViewData[LoginModel.InvalidCredentialVD])</p>
    }
    <span asp-validation-for="Credential.Username" class="text-danger"></span>
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example11" class="form-control"
               placeholder="email address" asp-for="Credential.Username" />
        <label class="form-label" for="form2Example11">Username</label>
    </div>

    <span asp-validation-for="Credential.Password" class="text-danger"></span>
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example22" class="form-control" asp-for="Credential.Password" />
        <label class="form-label" for="form2Example22">Password</label>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
        <button data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
            Log
            in
        </button>
    </div>
</form>

<div class="d-flex align-items-center justify-content-center pb-4">
    <p class="mb-0 me-2">Don't have an account?</p>
    <a asp-page="/Registration" class="btn btn-outline-danger">Create new</a>
</div>
